{% extends 'navbar.html.twig' %}

{% block title %}New Employe{% endblock %}

{% block body %}
    <h1>Create new Employe</h1>
<form>

    {{ include('retraiter/_form.html.twig') }}
   
</form>
    <a href="{{ path('app_retraiter_index') }}">back to list</a>
{% endblock %}
